.acticle {
    padding-bottom: 70px;
}
.acticle_header {
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.acticle_header h4 {
    font-size: 14px;
    color: var(--text-color);
    font-weight: normal;
}

.acticle_header__main {
    color: #555;
    display: inline-block;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    margin-top: 20px;
}

.acticle_header__main span {
    position: relative;
    z-index: 1;
}

.acticle_header__main > span::after {
    content: "";
    width: 100%;
    background-color:#1bbc9b;
    position: absolute;
    height: 5px;
    bottom: 11px;
    right: 0;
    z-index: -1;
}

.acticle_item {
    display: flex;
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3);
    margin: 15px ;
    text-decoration: none;
}

.rowreverse {
    flex-direction: row-reverse;
}

.acticle_item__img {
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.acticle_item__content {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    width: 100%;
    padding: 30px;
    color: var(--text-color);
    font-size: 1.4rem;
}

.acticle_item__content p {
    letter-spacing: 2px;
    line-height: 27px;
    margin: 0;
}

.acticle_item__content h3 {
    letter-spacing: 0;
    font-size: 20px;
    font-weight: bold;
}

.acticle_item__content span {
    padding: 20px 0;
    line-height: 27px;
    letter-spacing: 1px;
}

.acticle_item__header {
    color: #555;
}

@media screen and (max-width: 768px){
    .acticle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 50px 50px 50px;
    }

    .acticle_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }

    .acticle_item__img {
        width: 100%;
    }
}