@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap");


:root {
    --primary-color: #f3a46b;
    --white-color: #fff;
    --black-color: #000;
    --boder-color:#f1f1f1;
    --text-menu: #727475;
    --text-color: #9a9a9a;
    --bs-font-sans-serif: 'Poppins', sans-serif;
}